* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lp-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lp-name {
  font-size: 35px;
  color: #475b5a;
}

.chat {
  display: flex;
  flex-direction: column;
}

/* .chat-div {
  height: 33%;
} */

.chat-full {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.chat-body {
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  height: 100%;
}

/* .chat-footer {
  position: relative;
  display: flex;
} */

.form-label {
  color: #475b5a;
}

.message {
  padding: 0%;
  margin: 1%;
  border-radius: 10px;
}

.ChatJoinHeader {
  display: flex;
  width: 100%;
  border: 2px solid purple;
}

.app-div {
  width: 100%;
}

.createRoom {
  float: right;
}

#mymessage {
  border: 1px solid #1982fc;
  background-color: #1982fc;
  color: white;
  width: 50%;
  float: right;
  padding: 0;
}

#othermessage {
  border: 1px solid #d3d3d3;
  background-color: #d3d3d3;
  color: white;
  width: 50%;
  float: left;
}

.message-content {
  border-radius: 5px;
}

/* .message-container {
  position: relative;
  width: 100%;
} */

.cjh-header {
  color: #475b5a;
}

.cjh-subheader {
  color: #475b5a;
}

.form-input {
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.joinroom-btn {
  width: 10%;
  padding: 6px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}

.logout-btn {
  background-color: red;
  color: white;
  padding: 6px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}

.submit-btn {
  background-color: #475b5a;
  color: white;
  padding: 6px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
}

.submit-btn:hover {
  border-color: white;
}

.msg-input {
  width: 90%;
  padding: 6px 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.send-btn {
  width: 10%;
}

.chat-comp {
  height: 70%;
}
